<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico">
</head>

<body>
    <div class="form-wrap">
        <form method="POST">
            <label for="input">Find the value of:</label>
            <div class="input-wrap">
                <input class="input" type="text" name="calculate" required>
                <button class="mid-button" type="submit">Go</button>
            </div>
            <label for="cipher">in</label>
            <select class="select-menu" name="cipher" id="cipher">
                <option value="Simple Gematria">Simple Gematria</option>
                <option value="Base 6 Gematria">Base 6 Gematria</option>
                <option value="Pythagorean Gematria">Pythagorean Gematria</option>
                <option value="Hebrew Gematria">Hebrew Gematria</option>
            </select>
        </form>
    </div>
</body>

</html>