@font-face {
    font-family: Neue;
    src: url(./fonts/NeueHaasDisplayMedium.ttf);
}

:root {
    --element-bg-colour: rgba(255, 255, 255, 0.418);
    --element-bg-color-light: rgba(255, 255, 255, 0.461);
    --element-bg-color-dark: rgba(255, 255, 255, 0.315);
    --element-color: rgba(0, 0, 0, 0.689);
    --element-color-light: rgba(0, 0, 0, 0.484);
}

/* TYPEOGRAPHY */

body, select, input, button {
    font-family: Neue, sans-serif;
    font-weight: 600;
    color: var(--element-color)
}

.select-menu {
    font-size: 20px;
}

button, body {
    font-size: 22px;
}

.input {
    font-size: 25px;
}

/* FORMS */

.form-wrap {
    width: 60%;
    height: 50%;
    margin: 15% auto;
}

.input-wrap {
    border: none;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin: 2% 0 3% 0;
}

.input {
    width: clamp(400px, 47vw, 800px);
    height: 50px;
    border: 1px solid var(--element-color-light);
    background-color: var(--element-bg-colour);
    padding: 3px 20px;
}

.input:focus, select:focus, button:focus {
    outline: none;
}

.select-menu {
    padding: 10px;
    margin: 0 0 0 10px;
    border: 1px solid var(--element-color-light);
    color: var(--element-color);
    background-color: var(--element-bg-colour);
}

/* BUTTONS */

.mid-button {
    background-color: var(--element-bg-colour);
    color: var(--element-color);
    border: 1px solid var(--element-color-light);
    padding: 10px 20px;
    margin: 0 0 0 20px;
    cursor: pointer;
}

.mid-button:hover {
    background-color: var(--element-bg-color-dark);
}