/* COLOURS */

:root {
  --bg-1: white;
  --element-1-border: #ffffff41;
  --element-bg-1: #ffffff14;
  --element-bg-1-hover: #ffffff09;

  --bg-2: #262626;
  /* --element-2: #16abb5; */
  /* --element-2: #cc2f2f; */
  --element-2: #3ea13b;
  --element-border-2: #81818190;
  --element-bg-2: #00000018;
  --element-bg-2-hover: #a1a1a10e;
}

body {
  background-color: var(--bg-2);
}

body,
select,
input,
button {
  color: var(--element-2);
}

.container {
  padding: 12px;
}

.input {
  border: 1px solid var(--element-border-2);
  background-color: var(--element-bg-2);
}

.input:active {
  background-color: var(--element-bg-2);
}

.select-menu {
  border: 1px solid var(--element-border-2);
  color: var(--element-2);
  background-color: var(--element-bg-2);
}

.mid-button,
.small-button {
  background-color: var(--element-bg-2);
  color: var(--element-2);
  border: 1px solid var(--element-border-2);
}

.mid-button:hover,
.small-button:hover {
  background-color: var(--element-bg-2-hover);
}

.mid-button:active,
.small-button:active {
  background-color: #5e5e5e0e;
}

.footer {
  background-color: var(--bg-2);
}

/* TYPEOGRAPHY */

@font-face {
  font-family: Neue;
  src: url(../../public/fonts/NeueHaasDisplayMedium.ttf);
}

:root {
  --fs-nav: clamp(0.5rem, 0.35rem + 0.5vw, 1.5rem);
  --fs-body-small: clamp(0.6rem, 0.6rem + 0.6vw, 2rem);
  --fs-body-mid: clamp(0.8rem, 1rem + 0.7vw, 2.7rem);
  --fs-body-large: clamp(0.8rem, 1.2rem + 1.5vw, 4rem);
}

body,
select,
input,
button {
  font-family: Neue, sans-serif;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.select-menu {
  font-size: var(--fs-body-small);
}

.form-wrap,
button {
  font-size: calc(var(--fs-body-mid) - 2px);
}

.input {
  font-size: var(--fs-body-mid);
}

.result-wrap {
  font-size: var(--fs-body-large);
  line-height: calc(var(--fs-body-large) + 0.8vw);
}

.footer {
  font-size: var(--fs-nav);
}

/* STRUCTURE */

.form-wrap {
  width: clamp(200px, 60%, 1500px);
  height: 50%;
  margin: 15% auto;
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 600px) {
  .form-wrap {
    width: 90%;
    margin: 30% auto;
  }
}

.result-wrap {
  width: 95%;
  margin: 5% auto;
}

.footer {
  display: grid;
  grid-template-columns: 0.5fr 0.55fr 0.5fr 3fr 0.5fr;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 4% 14px;
  user-select: none;
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 0.5fr 0.55fr 0.5fr 1fr 0.5fr;
  }
}

/* FORMS */

.input-wrap {
  border: none;
  height: fit-content;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  user-select: none;
}

.input {
  width: clamp(400px, 47vw, 900px);
  height: calc(var(--fs-body-mid) + 25px);
  padding: 0.3% 1.5%;
}

.input:focus,
select:focus,
button:focus,
a:focus {
  outline: 1px solid var(--element-2);
}

.select-menu {
  padding: 10px;
  cursor: pointer;
}

/* BUTTONS */

.mid-button,
.small-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-button {
  padding: 10px 25px;
  cursor: pointer;
  width: 80px;
}

.small-button {
  padding: 10px 25px;
  cursor: pointer;
  font-size: var(--fs-body-small);
}

/* LOADING SPINNER */

.spinner-container {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: hidden;
}

.spinner {
  animation: rotate 2s linear infinite;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.path {
  stroke: var(--element-2); /* You can change this to your preferred color */
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
