@font-face {
  font-family: Neue;
  src: url(../../public/fonts/NeueHaasDisplayMedium.ttf);
}

:root {
  --bg-1: white;
  --element-1-border: #ffffff41;
  --element-bg-1: #ffffff14;
  --element-bg-1-hover: #ffffff09;

  --bg-2: #262626;
  /* --element-2: #16abb5; */
  /* --element-2: #cc2f2f; */
  --element-2: #3ea13b;
  --element-border-2: #81818190;
  --element-bg-2: #00000018;
  --element-bg-2-hover: #a1a1a10e;

  --input-height: 50px;
  --input-option-height: calc(var(--input-height) - 5px);

  --fs-body-sm: 1.3rem;
  --fs-body-md: 1.8rem;
  --fs-body-large: 2.6rem;
}

@media (max-width: 720px) {
  :root {
    --fs-body-sm: 1.1rem;
    --fs-body-md: 1.6rem;
    --fs-body-large: 2.2rem;
  }
}

body {
  background-color: var(--bg-2);
}

body,
select,
input,
button {
  color: var(--element-2);
}

body,
select,
input,
button {
  font-family: Neue, sans-serif;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 12px;
}

.form-wrap {
  width: clamp(200px, 60%, 1500px);
  height: 50%;
  margin: 15% auto;
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: var(--fs-body-md);
}

@media (max-width: 720px) {
  .form-wrap {
    width: 90%;
    margin: 30% auto;
  }
}

.result-wrap {
  width: 95%;
  margin: 0 auto 8rem;

  font-size: var(--fs-body-large);
  line-height: calc(var(--fs-body-large) + 0.8vw);
}

.input-wrap {
  border: none;
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 12px;
  justify-content: space-between;
  user-select: none;
}

@media (max-width: 720px) {
  .input-wrap {
    grid-template-columns: 3fr 1fr;
  }
}

.input-border {
  width: 100%;
  border: 1px solid var(--element-border-2);
  background-color: var(--element-bg-2);
}

.input {
  width: calc(100% - 20px);
  height: calc(var(--fs-body-md) + 25px);
  background-color: transparent;
  height: var(--input-height);

  font-size: var(--fs-body-md);

  padding: 0 10px;
  border: none;
}

.input:active {
  background-color: var(--element-bg-2);
}

.input:focus,
select:focus,
button:focus,
a:focus {
  outline: 1px solid var(--element-2);
}

.controls-container {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  gap: 12px;
}

@media (max-width: 720px) {
  .controls-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.select-wrap {
  display: flex;
  gap: 12px;
  align-items: center;
}

.select-menu-border {
  border: 1px solid var(--element-border-2);
  width: 100%;
}

.select-menu {
  padding: 10px;
  cursor: pointer;
  width: 100%;
  height: var(--input-height);

  font-size: var(--fs-body-sm);

  border: none;
  color: var(--element-2);
  background-color: var(--element-bg-2);
}

@media (max-width: 720px) {
  .select-menu {
    height: var(--input-option-height);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  cursor: pointer;
  width: 100%;

  font-size: var(--fs-body-sm);

  background-color: var(--element-bg-2);
  color: var(--element-2);
  border: 1px solid var(--element-border-2);
  height: var(--input-height);
}

@media (max-width: 720px) {
  .button {
    font-size: var(--fs-body-sm);
  }
}

.button:hover {
  background-color: var(--element-bg-2-hover);
}

.button:active {
  background-color: #5e5e5e0e;
}

.input-option {
  height: var(--input-height);
}

@media (max-width: 720px) {
  .input-option {
    height: var(--input-option-height);
  }
}

.spinner-container {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: hidden;
}

.spinner {
  animation: rotate 2s linear infinite;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.path {
  animation: dash 1.5s ease-in-out infinite;
  stroke: var(--element-2);
  stroke-linecap: round;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 5fr 1fr;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 32px 14px;
  user-select: none;

  font-size: calc(var(--fs-body-sm) - 0.2rem);
  background-color: var(--bg-2);
}

@media (max-width: 720px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 12px 24px 14px;

    font-size: var(--fs-body-sm);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
