@font-face {
  font-family: Neue;
  src: url(../../public/fonts/NeueHaasDisplayMedium.ttf);
}

:root {
  --bg-light: white;
  --element-light: #cc2f2f;
  --element-border-light: #adadad;
  --element-bg-light: #fcfcfc;
  --element-bg-hover-light: #a1a1a10e;

  --bg-dark: #262626;
  --element-dark: #3ea13b;
  --element-border-dark: #81818190;
  --element-bg-dark: #00000018;
  --element-bg-hover-dark: #a1a1a10e;

  --input-height: 50px;
  --input-option-height: calc(var(--input-height) - 5px);

  --fs-body-sm: 1.3rem;
  --fs-body-md: 1.8rem;
  --fs-body-large: 2.6rem;
}

.dark-theme {
  --bg: var(--bg-dark);
  --element: var(--element-dark);
  --element-border: var(--element-border-dark);
  --element-bg: var(--element-bg-dark);
  --element-bg-hover: var(--element-bg-hover-dark);
}

.light-theme {
  --bg: var(--bg-light);
  --element: var(--element-light);
  --element-border: var(--element-border-light);
  --element-bg: var(--element-bg-light);
  --element-bg-hover: var(--element-bg-hover-light);
}

body.light-theme {
  background-color: var(--bg-light);
}

body.dark-theme {
  background-color: var(--bg-dark);
}

body,
select,
input,
button,
.theme-icon {
  color: var(--element);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg-dark);
    --element: var(--element-dark);
    --element-border: var(--element-border-dark);
    --element-bg: var(--element-bg-dark);
    --element-bg-hover: var(--element-bg-hover-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--bg-light);
    --element: var(--element-light);
    --element-border: var(--element-border-light);
    --element-bg: var(--element-bg-light);
    --element-bg-hover: var(--element-bg-hover-light);
  }
}

@media (max-width: 720px) {
  :root {
    --fs-body-sm: 1.1rem;
    --fs-body-md: 1.6rem;
    --fs-body-large: 2.2rem;
  }
}

body,
select,
input,
button {
  font-family: Neue, sans-serif;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 12px;
}

.form-wrap {
  width: clamp(200px, 60%, 1500px);
  height: 50%;
  margin: 15% auto;
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: var(--fs-body-md);
}

@media (max-width: 720px) {
  .form-wrap {
    width: 90%;
    margin: 30% auto;
  }
}

.result-wrap {
  width: 95%;
  margin: 0 auto 8rem;

  font-size: var(--fs-body-large);
  line-height: calc(var(--fs-body-large) + 0.8vw);
}

.input-wrap {
  border: none;
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 12px;
  justify-content: space-between;
  user-select: none;
}

@media (max-width: 720px) {
  .input-wrap {
    grid-template-columns: 3fr 1fr;
  }
}

.input-border {
  width: 100%;
  border: 1px solid var(--element-border);
  background-color: var(--element-bg);
}

.input {
  width: calc(100% - 20px);
  height: calc(var(--fs-body-md) + 25px);
  background-color: transparent;
  height: var(--input-height);

  font-size: var(--fs-body-md);

  padding: 0 10px;
  border: none;
}

.input:active {
  background-color: var(--element-bg);
}

.input:focus,
select:focus,
button:focus,
a:focus {
  outline: 1px solid var(--element);
}

.controls-container {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  gap: 12px;
}

@media (max-width: 720px) {
  .controls-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.select-wrap {
  display: flex;
  gap: 12px;
  align-items: center;
}

.select-menu-border {
  border: 1px solid var(--element-border);
  width: 100%;
}

.select-menu {
  padding: 10px;
  cursor: pointer;
  width: 100%;
  height: var(--input-height);

  font-size: var(--fs-body-sm);

  border: none;
  color: var(--element);
  background-color: var(--element-bg);
}

@media (max-width: 720px) {
  .select-menu {
    height: var(--input-option-height);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  cursor: pointer;

  font-size: var(--fs-body-sm);

  background-color: var(--element-bg);
  color: var(--element);
  border: 1px solid var(--element-border);
  height: var(--input-height);
}

@media (max-width: 720px) {
  .button {
    font-size: var(--fs-body-sm);
  }
}

.button:hover {
  background-color: var(--element-bg-hover);
}

.button:active {
  background-color: #5e5e5e0e;
}

.input-option {
  height: var(--input-height);
  width: 100%;
}

@media (max-width: 720px) {
  .input-option {
    height: var(--input-option-height);
  }
}

.spinner-container {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: hidden;
}

.spinner {
  animation: rotate 2s linear infinite;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.path {
  animation: dash 1.5s ease-in-out infinite;
  stroke: var(--element);
  stroke-linecap: round;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 32px 14px;
  user-select: none;

  font-size: calc(var(--fs-body-sm) - 0.2rem);
  background-color: var(--bg);
}

.information-container {
  padding: 30px 20px 0;
}

@media (max-width: 720px) {
  .information-container {
    padding: 10px 0 0 0;
    display: flex;
    justify-content: center;
  }
}

.svg {
  fill: var(--element);
}

@media (max-width: 720px) {
  .footer {
    grid-template-columns: 1fr 1fr 0.1fr 1fr;
    padding: 12px 24px 14px;

    font-size: var(--fs-body-sm);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
